timeline.xctimeline
playground.xcworkspace

.build/

Pods/

Carthage/Build/

Dependencies/
.accio/

fastlane/report.xml 
fastlane/Preview.html
fastlane/screenshots/**/*.png 
fastlane/test_output

iOSInjectionProject/
GoogleService-Info(1).plist

